<% @students.each do |student| %>
  <div class="post_wrapper">
    <h2 class="title"><%= link_to student.name, root_path %></h2>
    <p class="date"><%= student.created_at.strftime("%B, %d, %Y") %></p>
  </div>
<% end %>
