<h1>Progreso Detallado de <%="#{@student.name}" %></h1>
<br></br>

<div>
  <p><%= image_tag @student.avatar.url(:thumb) %></p>
</div>

<div>
  <p>Nombre: <%= @student.name %></p>
</div>

<div>
  <p>Edad: <%= Date.current.year - @student.birthdate.year %> años</p>
</div>

<div>
  <p>Número de intentos: </p>
</div>
